<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566155530467-n3b4a6qlar5nmkiitit78fnolvl912r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566155530467-n3b4a6qlar5nmkiitit78fnolvl912r4</string>
	<key>API_KEY</key>
	<string>AIzaSyAyEvwqisTJK3ts49-0x_ZqyCD85NUx10o</string>
	<key>GCM_SENDER_ID</key>
	<string>566155530467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.social</string>
	<key>PROJECT_ID</key>
	<string>social-app-f53bd</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-f53bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566155530467:ios:22a1e8fec781a92ef675d6</string>
</dict>
</plist>